doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href='/stylesheets/invitation.css')
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap", rel="stylesheet")
        title=title
    body
        canvas(id='canvas')
        div(id='form')
            |Add participants:
            br
            input(type="radio", name="participants", id='all')
            label(for="all") Everyone
            br
            input(type="radio", name="participants", id='custom')
            label(for="custom") Custom
            br
            br
            div(id='list')
            div(id='submit') OKAY
        script(src="/javascripts/invitation.js")