body {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #00a2ff, #00ff55);
    height: 100vh;
}

#root{
    width: 70%;
    margin: 0 auto;
}

div {
    width: 45%;
    margin: 4% 2%;
    color: white;
    list-style: none;
}

#image, #details {
    display: inline-block;
    width: fit-content;
    vertical-align: middle;
}

img{
    width: 300px;
    height: 300px;
    margin: 2%;
}

#header {
    font-weight: 800;
    font-size: 5vh;
    color: white;
    display: inline-block;
}

#name{
    font-weight: 800;
    font-size: xx-large;
    width: 100%;
}

#userid {
    font-weight: 400;
    font-size: x-large;
    width: 100%;

}

#email {
    font-weight: 400;
    font-size: medium;
    width: 100%;

}